/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 80px 20px 20px 20px
    /*background-color: #f3f3f3;*/
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: rgba(0,0,0,.54);
    padding: 10px 0px;
    position: relative;
}

.sidebar-nav li i {
    padding-right: 15px;
    font-size: 16px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #999999;
    background: #f0f0f0;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 165px;
    font-size: 18px;
    /*line-height: 60px;*/
    background-color: rgba(0, 0, 0, 0.37);
}

.sidebar-nav > .sidebar-brand > .sidebar-profile {
    background-image: url('../images/images.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.sidebar-nav > .sidebar-brand > .sidebar-profile > .img-profile {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 20px;
    background-image: url('../images/robert.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.sidebar-nav > .sidebar-brand > .sidebar-profile > .n-profile {
    color: #fff;
    font-size: 14px;
    padding: 90px 10px 10px 10px;
}

.sidebar-nav > .sidebar-brand > .sidebar-profile > .n-profile > .s-profile {
    background-color: #a9d05e;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 80px 20px 20px 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}