<table cellpadding="0" cellspacing="0" width="100%" height='100%' style="font-family: Arial;line-height:1;" bgcolor="#f0f0f0">
	<tbody>
		<tr>
			<td>
				<table align="center" bgcolor="#ffffff" cellpadding="0" cellspacing="0" width="600" height='100%'  valign="top" style="border-collapse: collapse;">
					<tbody>
						<tr>
							<td bgcolor="#182e40" style="padding: 10px 37px">
								<img src="logo.png" width="118" height="56">
							</td>
						</tr>
						<tr>
							<td align="center">
								<img src="aprende.png" height="56" width="300">
							</td>
						</tr>
						<tr>
							<td align="center" style="padding: 5px 35px">
								<p style="color: #182e40; font-size: 14px;">Accede a mas de 60 cursos de manualidades, belleza, costura, pasteleria y mucho mas</p>
							</td>
						</tr>
						<tr>
							<td align="center">
								<a href="http://pleisi.com/cursos"><img src="cursos.png" height="278" width="500"></a>
							</td>
						</tr>
						<tr>
							<td align="center" style="padding: 20px 30px">
								<div style="display: block"><a href="http://pleisi.com/" style="text-decoration: none; color: #fff; font-weight: bold; font-size: 14px; padding: 10px; background-color: #00b2bb; border-radius: 5px; max-width: 150px;">Visita nuestra web</a></div>
							</td>
						</tr>
						<tr>
							<td align="center" bgcolor="#182e40" style="padding: 10px;color: #fff; font-size: 12px">
								<p>Contactanos <a href="mailto:info@pleisi.com" style="color: #00b2bb">info@pleisi.com</a></p>
								<p style="">Pleisi. Todos los derechos reservados</p>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>