@font-face
   font-family Roboto
   font-style normal
   src url(../../fonts/Roboto/Roboto-Regular.ttf)

body
	background-color #f3f3f3
	font-family Roboto
	color rgba(0,0,0,.54)

header
	position fixed
	width 100%
	z-index 9

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked 
	position: absolute
	left -9999px
	opacity 0

[type="checkbox"] + label
	position relative
	padding-left 35px
	cursor pointer
	display inline-block
	height 25px
	line-height 25px
	font-size 14px
	-webkit-user-select none
	-moz-user-select none
	-khtml-user-select none
	-ms-user-select none

[type="checkbox"] + label:before,
[type="checkbox"] + label:after 
	content ''
	position absolute
	top 0
	left 0
	width 18px
	height 18px
	z-index 0
	border 2px solid #5a5a5a
	border-radius 1px
	margin-top 2px
	transition .2s

[type="checkbox"]:not(:checked):disabled + label:before 
	border none
	background-color rgba(0, 0, 0, 0.26)

[type="checkbox"].tabbed:focus + label:after
	-webkit-transform scale(1)
	transform scale(1)
	border 0
	border-radius 50%
	box-shadow 0 0 0 10px rgba(0, 0, 0, 0.1)
	background-color rgba(0, 0, 0, 0.1)

[type="checkbox"]:checked + label:before
	top -4px
	left -5px
	width 12px
	height 22px
	border-top 2px solid transparent
	border-left 2px solid transparent
	border-right 2px solid #26a69a
	border-bottom 2px solid #26a69a
	-webkit-transform rotate(40deg)
	transform rotate(40deg)
	-webkit-backface-visibility hidden
	backface-visibility hidden
	-webkit-transform-origin: 100% 100%
	transform-origin 100% 100%

[type="checkbox"]:checked:disabled + label:before
	border-right 2px solid rgba(0, 0, 0, 0.26)
	border-bottom 2px solid rgba(0, 0, 0, 0.26)

[type="checkbox"]:indeterminate + label:before
	top -11px
	left -12px
	width 10px
	height 22px
	border-top none
	border-left none
	border-right 2px solid #26a69a
	border-bottom none
	-webkit-transform rotate(90deg)
	transform rotate(90deg)
	-webkit-backface-visibility hidden
	backface-visibility hidden
	-webkit-transform-origin 100% 100%
	transform-origin 100% 100%

[type="checkbox"]:indeterminate:disabled + label:before 
	border-right 2px solid rgba(0, 0, 0, 0.26)
	background-color transparent

[type="checkbox"] + label:after 
	border-radius 2px

[type="checkbox"] + label:before,
[type="checkbox"] + label:after 
	content ''
	left 0
	position absolute
	transition border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s
	z-index: 1

[type="checkbox"]:not(:checked) + label:before 
	width 0
	height 0
	border 3px solid transparent
	left 6px
	top 10px
	-webkit-transform rotateZ(37deg)
	transform rotateZ(37deg)
	-webkit-transform-origin 20% 40%
	transform-origin 100% 100%


[type="checkbox"]:not(:checked) + label:after 
	height 20px
	width 20px
	background-color transparent
	border 2px solid #828282
	top 0px
	z-index 0

[type="checkbox"]:checked + label:before 
	top 2px
	left 1px
	width: 8px
	height 13px
	border-top 2px solid transparent
	border-left 2px solid transparent
	border-right 2px solid #fff
	border-bottom 2px solid #fff
	-webkit-transform rotateZ(37deg)
	transform rotateZ(37deg)
	-webkit-transform-origin 100% 100%
	transform-origin 100% 100%

[type="checkbox"]:checked + label:after 
	top 0
	width 20px
	height 20px
	border 2px solid #26a69a
	background-color #26a69a
	z-index: 0

[type="checkbox"].tabbed:focus + label:after
	border-radiu 2px
	border-colo #5a5a5
	background-color: rgba(0, 0, 0, 0.1)

[type="checkbox"].tabbed:checked:focus + label:after 
	border-radius 2px
	background-color #26a69a
	border-color #26a69a

[type="checkbox"]:disabled:not(:checked) + label:before
	background-color transparent
	border 2px solid transparent

[type="checkbox"]:disabled:not(:checked) + label:after 
	border-color transparent
	background-color #BDBDBD


[type="checkbox"]:disabled:checked + label:before 
	background-color transparent

[type="checkbox"]:disabled:checked + label:after 
	background-color #BDBDBD
	border-color #BDBDBD

.form-control
	border-radius 0px

.input-group-addon
	border-radius 0px

.header-container
	box-shadow 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12)
	background-color #3f51b5

.header-content
	color #fff
	padding 20px

.header-content i
	cursor pointer
	font-size 18px

.content-title, .tab-search
	padding-bottom 20px

.nav-tabs 
	border none
	> li > a
		border none
		border-radius 0px
		background-color #fff
		margin-right: 0px;
		color rgba(0,0,0,.54)

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus 
	border none
	border-radius 0px
	background-color #fff
	color rgba(0,0,0,.54)

.nav-tabs > li.active
	border-bottom 3px solid #3f51b5
	z-index 2

.nav-tabs > li > a > i
	padding-right 10px

.tab-pane
	background-color #fff
	padding 30px
	position relative

.tab-content
	margin-top -5px

.mail-group
	padding 20px 0px
	border-bottom 1px solid #ccc

.mail-group a
	text-decoration none
	color rgba(0,0,0,0.54)

.mail-item
	position relative
	cursor pointer

.mail-item > .mail-options
	position absolute
	top 0px
	right 0px

.mail-item > .mail-options > i
	margin-right 5px
	cursor pointer
	font-size 16px

.mail-item > .mail-options > i.fa-star
	color #FFEB3B

.mail-item > .mail-options > .mail-date
	display inline-block
	font-size 12px

.mail-tab
	overflow auto
	height 400px

.mail-preview
	padding-left 35px
	color #828282

.mail-composer-circle
	font-size 20px
	position fixed
	bottom 15px
	z-index 9
	right 15px
	border none
	background-color transparent

.mail-composer
	background-color #009688
	padding 20px
	border-radius 50%
	color #fff
	box-shadow 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12)
	cursor pointer

.mail-len
	position absolute
	background #009688
	color #fff
	top 13px
	left 50px
	line-height 0.5
	text-indent 0px
	font-size 10px
	padding 5px
	border-radius 50%

.mail-panel i
	padding-right 10px
	cursor pointer
	padding-right 10px
	&:hover
		color #009688

.email-detail
	background-color #f0f0f0
	padding 20px 10px
	overflow auto

.email-detail-option
	position absolute
	top 30px
	right 20px
	font-size 18px

.email-detail-option i
	margin-right 10px
	cursor pointer
	&:hover
		color #009688